/*Cabeçalho geral*/
header {
    background-color: rgba(111, 0, 255, 0.8);
}

.cabecalho {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.logo-header img {
    position: relative;
    width: 10%;
}

nav {
    position: absolute;
    bottom: 60px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}