.contact__bg {
    background-color: var(--first-color-second);
    padding-top: 3rem;
  }
  
  .project__container {
    row-gap: 3rem;
  }
  
  .project__data {
    text-align: center;
  }
  
  .contact__container {
    row-gap: 3rem;
  }
  
  .contact__information {
    display: flex;
    margin-bottom: var(--mb-2);
  }
  
  .contact__icon {
    font-size: 1.75rem;
    color: var(--contact-color);
    margin-right: var(--mb-0-75);
  }
  
  .contact__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--contact-color);
  }
  
  .contact__subtitle {
    font-size: var(--smaller-font-size);
    color: var(--contact-subtitle);
  }
  
  .project__img {
    width: 232px;
    justify-self: center;
  }
  
  @media screen and (min-width: 768px) {
    .project__container {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }
  
    .project__data {
      text-align: initial;
    }
  
    .project__img {
      width: 350px;
    }
  }